<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p> Assignments this semester in 1006: </p>
    <p> Assignment 1: Practice on getting comfortable with the structure of
    programs in general, whereby there is a main function and multiple, small 
    accompanying functions that we can leverage. Also practice on changing 
    lists. </p>
    <p> Assignment 2: In part 1 of the assignment, we compared sequential 
    search to sort+binary and saw when it made sense to use either. In part 2, 
    we made use of different functions in order to calculate the position of
     a projectile. </p>
    <p> Assignment 3: We made use of numpy arrays in order to implement 
    Perlocation theory. We also used numpy arrays in order to manipulate the
     breast cancer data set. </p>
    <p> Assignment 4: We used object oriented programming in order to return 
    some statisticsregarding a classroom. </p>
    <p> Assignment 5: We implemented machine learning in order to test the
    likelihood of a dataset being either benign or malignant. </p>
    <p> My favorite assignment was Assignment 5. I think I enjoyed it most 
    because we had been discussing it for some time, so by the time that
    assignment 5 came around, I understood the assignment wholistically. What
    made some of the earlier assignments difficult and less  enjoyable was 
    that we had to spend a lot of time forming an understanding of the
    assignment itself. </p>
    
    
    </body>
</html>