<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Candice Choi</p>
    <p>Junior</p>
    <p>Economics</p>
    <p> <a href="https://piazza.com/class/k5ocys6r7o45hs?cid=653">My favorite website</a> </p>
    <p> <img src="{{ url_for('static', filename='IMG_7903 2.jpg' ) }}" alt="photo" width= "200" 
    height= "250"> </p>
    <p> <a href="/1006Assignments">Click for assignments in 1006</a> </p>
    <p> <a href="/Classes">Click for classes this semester</a> </p>
    </body>
</html>