<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p> Courses taken this semester: </p>
    <p> Game Theory, Python, Health Economics, Chinese, Statistics </p>
    <p> My favorite class this semester has been Game Theory. There were moments
    where the learning process was frustrating, but as I started spending more time on it, 
    I became more familiar with the logic with which I needed to 
    tackle questions in Game Theory. Once I got the hang of this, learning became
    pretty enjoyable. I like how detail-oriented and logical the subject is.  </p>
    </body>
</html>